extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates vel, ab iusto labore odit sequi explicabo qui sed esse sapiente a dolorem, praesentium odio amet dolore. Possimus, ab ducimus.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda quis inventore voluptate reprehenderit excepturi natus odio qui non atque, provident quasi temporibus! Mollitia quisquam impedit inventore dolor ipsa modi.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis aut inventore nesciunt deleniti illo explicabo quia provident? Saepe quod, odit assumenda facere tempore, aperiam non, omnis illum soluta dolor ratione.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia hic voluptas labore libero deserunt dicta quam possimus alias ipsam, enim temporibus iusto ipsum molestias unde accusantium, quod incidunt aliquid. Quo!
                .col-md-4 
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia hic voluptas labore libero deserunt dicta quam possimus alias ipsam, enim temporibus iusto ipsum molestias unde accusantium, quod incidunt aliquid. Quo!
                .col-md-4 
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia hic voluptas labore libero deserunt dicta quam possimus alias ipsam, enim temporibus iusto ipsum molestias unde accusantium, quod incidunt aliquid. Quo!




